{% load static %}

<!doctype html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stockar - Vente & Location de containers maritimes</title>
    <meta name="description" content="Au service de nos clients pour des besoins en stockage, achat et revalorisation de containers maritimes."/>
    <meta name="url" content="https://stockar.fr">
    <link rel="icon" href="{% static 'img/favicon.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{% static 'css/alox-bs.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4470dfa723.js" crossorigin="anonymous"></script>

</head>
<body>

<section class="container">
    <div class="row text-light align-items-center">
        <div class="col-12 text-center my-5 py-5">
            <h1 class="mb-4">
                <img src="{% static 'img/logo.png' %}" alt="STOCKAR" title="Stockar - Vente & Location de containers maritimes" width="333" height="93">
            </h1>
            <h2>Vente & Location de containers maritimes</h2>
        </div>
        <div class="col-md-6 mb-5">
            <h2 class="display-3 font-01"> <span class="text-primary">Stockage</span> <br>Garde-Meuble</h2>
            <p class="lead"><b>Au bord de la N4 - À 20 minutes de Toul</b></p>
            <p class="lead mb-5">Près de 40 ans de savoir-faire dans le secteur industriel en Lorraine
                au service de nos clients pour des besoins en stockage, achat et
                revalorisation de containers maritimes.</p>
            <a class="btn btn-primary" href="{% url 'offers' %}">Nos offres de stockage</a>
            <a class="btn btn-primary" href="mailto:contact@stockar.fr">Envoyer un mail</a>
            <a class="btn btn-primary" href="tel:+33676999525">Appeler</a>
        </div>
        <div class="col-md-6 text-center">
            <img src="{% static 'img/conteneur.png' %}" alt="Vente & Location de containers maritimes" title="Vente & Location de containers maritimes" width="638" height="475" class="img-fluid">
        </div>
        <div class="container">
            <div class="row">
                {% for offer in offers %}
                    <div class="col-sm-6" >
                        <div class="card mb-3"  style="background-color: #17223a; border-color: white">
                          <div class="card-body">
                            <h5 class="card-title">{{ offer.name }}</h5>
                            <p class="card-text">{{ offer.description }}</p>
                            <a href="#" class="btn btn-primary">Souscrire</a>
                          </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>






<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>