{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="col-md-6 mb-5">
            <h2 class="display-3 font-01"> <span class="text-primary">Stockage</span> <br>Garde-Meuble</h2>
            <p class="lead"><b>Au bord de la N4 - À 20 minutes de Toul</b></p>
            <p class="lead mb-5">Près de 40 ans de savoir-faire dans le secteur industriel en Lorraine
                au service de nos clients pour des besoins en stockage, achat et
                revalorisation de containers maritimes.</p>
            <a class="btn btn-primary mt-2" href="{% url 'offers' %}">Nos offres de stockage</a>
            <a class="btn btn-primary mt-2" href="mailto:contact@stockar.fr">Envoyer un mail</a>
            <a class="btn btn-primary mt-2" href="tel:+33676999525">Appeler</a>
        </div>
        <div class="col-md-6 text-center">
            <img src="{% static 'img/conteneur.png' %}" alt="Vente & Location de containers maritimes" title="Vente & Location de containers maritimes" width="638" height="475" class="img-fluid">
        </div>
        <div class="container">
            <div class="row">
                {% for offer in offers %}
                    <div class="col-sm-6" >
                        <div class="card mb-3"  style="background-color: #17223a; border-color: white">
                          <div class="card-body">
                            <h5 class="card-title">{{ offer.name }}</h5>
                            <p class="card-text">{{ offer.description }}</p>
                            <a href="#" class="btn btn-primary">Souscrire</a>
                          </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
